#main{
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
   min-height: 40vh;
  justify-content: center;

}

#nav{
  height: 50px;
  min-height: 100vh;
}

#nav{
  height: 30px;
  padding: 8px;
  text-align: center;
}

#nav h1{
  display: inline;
  
  text-align: center;
  font-family: verdana;
}



img.resize1{
  width: 200px;
  height: 150px;
  object-fit:cover;
}

img.resize2{
  width: 200px;
  height: 150px;
  object-fit:cover;
}


img.resize3{
  width: 200px;
  height: 150px;
  object-fit:cover;
}

img.resize4{
  width: 200px;
  height: 150px;
  object-fit:cover;
}

.right{
  float: right;
}

.left{
  float: left;
}
.content-item1{
  padding:10px;
  margin:10px;
  flex: 1
}div.content-item1{
  text-align: center;
  border-style: inset;
}

.content-item2{
  padding:10px;
  margin:10px;
  flex: 1
}

div.content-item2{
  text-align: center;
  border-style: inset;
}

.content-item3{
  padding:10px;
  margin:10px;
  flex: 1
}

div.content-item3{
    text-align: center;
    border-style: inset;
}

.content-item4{
  padding:10px;
  margin:10px;
  flex: 1
}

div.content-item4{
    text-align: center;
    border-style: inset;
}

.blue{
  background-color: #F0F8FF;
  color:black;
}

.red{
  background-color: #FFE4E1;
  color:black;
}

.sticky-footer {
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  background-color:	#DCDCDC;
  min-height: 20vh;

}
